body {
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex.center {
  align-items: center;
}

.title {
  justify-content: center;
  height: 5%;
}

.main-line {
  height: 65%;
}

#main {
  /* background-color: #eeffff; */
  flex: 3 0 0;
  padding-bottom: 20px;
}

#side {
  /* background-color: #ffeeff; */
  flex: 1 0 0;
  min-width: 450px;
}

#bottom {
  /* background-color: #ffffee; */
  height: 30%;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  padding: 10px;
  border-radius: 5%;
  border: 1px solid #888888;
  background-color: #ffffffcc;
}

#bottom-tooltip {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 10px;
}

#map-legend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  height: calc(65% - 20px);
  background-color: #eeeeeedd;
  position: absolute;
  top: 5%;
  left: 0;
}

.map-legend {
  height: 20px;
  padding: 0px 10px;
}

.legend-label {
  font-size: 12px;
  user-select: none;
}

.legend-color {
  height: 12px;
  width: 18px;
  border: 0 solid transparent;
  border-radius: 20%;
  margin-right: 10px;
}