body {
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
  height: 100vh;
}

.flex {
  display: flex;
}

.flex.center {
  align-items: center;
}

.title {
  justify-content: center;
  height: 10%;
  font-size: 1.6rem;
  font-weight: bold;
}

.main-line {
  height: 80%;
}

#main {
  /* background-color: #eeffff; */
  flex: 3 0 0;
  padding-bottom: 20px;
}

#side {
  /* background-color: #ffeeff; */
  flex: 1 0 0;
  min-width: 450px;
  margin: 0 20px;
}

#bottom {
  /* background-color: #ffffee; */
  height: 10%;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  padding: 10px;
  border-radius: 5%;
  border: 1px solid #888888;
  background-color: #ffffffcc;
  line-height: 30px;
}

.tooltip-title {
  font-weight: bold;
}

.tooltip-line {
  font-size: smaller;
}

#bottom-tooltip {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 10px;
}

#map-legend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  height: calc(80% - 20px);
  background-color: #eeeeeedd;
  position: absolute;
  top: 10%;
  left: 0;
}

.map-legend {
  height: 25px;
  padding: 0px 10px;
}

.legend-label {
  font-size: 12px;
  user-select: none;
}

.legend-color {
  height: 12px;
  width: 18px;
  border: 0 solid transparent;
  border-radius: 20%;
  margin-right: 10px;
}

.svg text, text, html {
  user-select: none;
}

#loading-mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  height: calc(80% - 20px);
  width: 100%;
  background-color: #ccccccbb;
}

@-webkit-keyframes rotating
{
  0%   {-webkit-transform: rotate(0deg);}
  25%  {-webkit-transform: rotate(90deg);}
  50%  {-webkit-transform: rotate(180deg);}
  75%  {-webkit-transform: rotate(270deg);}
  100% {-webkit-transform: rotate(360deg);}
}

.loading {
  width: 10%;
  height: 10%;
  margin: 20px;
  -webkit-animation-name: rotating;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}